.middle main .datatable table {
    width: 100%;
    border-collapse: collapse;
}

.middle main .datatable .caption {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    background-color: #E1E1E1;
    padding: 0.3rem;
}

.middle main .datatable table td,
.middle main .datatable table th {
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    text-align: center;
    padding: 0.35rem;
    font-size: small;
}

.middle main .datatable table tbody tr:nth-child(2n+1) {
    background-color: #F8F8F8;
}