body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.captcha-container {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.captcha-box img {
    grid-column: 1;
    grid-row: 1;
}

.captcha-input {
    width: 200px;
    padding: 5px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    grid-column: 1;
    grid-row: 2;
}

.captcha-refresh {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    grid-column: 2;
    grid-row: 2;
}

.captcha-refresh:hover {
    background-color: #0056b3;
}

.captcha-box {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
